body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* #searchInput {
  color:"blue";
  outline: none !important;

} */

#searchBarDiv {
  border-radius: 15px;
  border: 2px solid gray;
  padding-left: 8px; 
  outline: none;
}
